
body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding: 16px 0;
  }
  
  h1 {
    font-size: 24px;
    margin: 20px;
  }
  
  button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  
  .video-container {
    /* position: relative; */
    width: 50%;
    padding-bottom: 56.25%; 
    margin-top: 20px;
  }
  
  iframe {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 50%;
    height: 50%;
  }
  
  .custom-controls {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 100px;
  }
  

  